body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 200px;
    flex-shrink: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.container {
    display: flex;
    flex-grow: 1;
}

.user-info {
    background-color: #f0f0f0;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-details p {
    margin: 5px 0;
}

.user-details button {
    padding: 10px 20px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

main {
    flex-grow: 1;
    padding: 20px;
}

section {
    text-align: center;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.services .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.card input[type="date"],
.card input[type="time"],
.card select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.card input[type="submit"] {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.card input[type="submit"]:hover {
    background-color: #ffca28;
}

.card p {
    color: #666;
}

.card button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.card button:hover {
    background-color: #ffca28;
}