body {
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #000;
    color: #FF9800;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #FF9800;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #666;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    margin-bottom: 10px;
    font-weight: bold;
}

.card input[type="text"],
.card input[type="number"],
.card select,
.card input[type="time"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.card input[type="submit"]:hover {
    background-color: #555;
}

.card ul {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Modal de confirmação */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.modal-content h4 {
    margin-top: 0;
}

.modal-content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-content button:hover {
    background-color: #555;
}

/* Estilos dos Botões */
.button {
    display: inline-block;
    padding: 5px 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button.cadastrar {
    background-color: #FF9800;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.button.salvar {
    background-color: #FF9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.button.excluir {
    background-color: #E74040;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
}

.cancelar {
    background-color: #E74040;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
}

.button.editar {
    background-color: #FF9800;
    color: #fff;
}

.button.remover {
    background-color: #E74040;
    color: #fff;
}

.button:hover {
    background-color: #555;
}