@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111111;
}

header {
    background-color: #FF9800;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(8, 8, 8) 50%);
    border-color: solid none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.container {
    display: flex;
    flex-grow: 1;
}

.user-info {
    padding: 10px;
    width: 17rem;
    display: flex;
    margin-top: 8rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    border: solid 0.15rem #585858;
    justify-content: space-evenly;
    position: relative;
    padding-left: 1.5rem;
    right: 1rem;
}


.foto-perfil{
    background-color: #FF9800;
    border-radius: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
}

.foto-perfil > img{
    height: 8rem;
    width: 8rem;
}


#picture_input{
    display: none;
    height: 8rem;
    width: 8rem;
}

.picture{
    height: 8rem;
    width: 8rem;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed #aaa;
    border-radius: 100%;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: 0.3s all;
    padding: 0.5rem;
}

.picture:hover {
    opacity: 0.5;
}

.picture:active{
    border-color: #FF9800;
    color: #FF9800;
}


.user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15rem;
}
img#image_user {
    border-radius: 100%;
}
.user-details p {
    color: #f9f9f9;
}

.nome-cliente{
    font-weight: 600;
    font-size: 2rem;
}

.editar-perfil{
    background-color: #FF9800;
    color: #111111;
    font-weight: 600;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    transition: 0.2s all;
}

.editar-perfil:hover{
    background-color: #ffca28;
}

.sair{
    background-color: #E74040;
    color: #111111;
    font-weight: 600;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    transition: 0.2s all;
}

.sair:hover{
    background-color: #e74040a6;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.apresentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    height: 4rem;
}

.apres-title{
    font-weight: 600;
    font-size: 2rem;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    padding: 2rem;
    margin-top: 2rem;
}

.superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inferior{
    display: flex;
    padding: 10px;
    justify-content: center;
}


.services .card {
    padding: 10px;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    border-top: solid 0.3rem #FF9800;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_agendar{
    display: flex;
    flex-direction: column;
    border-top: solid 0.3rem #FF9800;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 80rem;
    max-height: 90rem;
    height: 50rem;
    overflow-y: scroll;
}

.conteudo-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 90%;
}

.navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    border: solid 0.2rem #FFC672;
    width: 100%;
    border-radius: 2rem;
    background-color: #111111;
}

#btnservicos, #btnhorarios, #btnbarbeiros, #btnconfirmacao{
    margin: 0;
    padding: 1.2rem;
    border-radius: 2rem;
    width: 12rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btnservicos{
    background-color: #FF9800;
    color: #111111;
}

#btnhorarios, #btnbarbeiros, #btnconfirmacao{
    background-color: #333;
    color: #f9f9f9;
}

.btn-fechar{
    align-self: flex-end; 
    position: absolute; 
    margin-top: -10px; 
    padding: 10px;
    background-color: #FF9800;
    color: #111111;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s all;
}

.btn-fechar:hover{
    background-color: #ff99007a;
}

.serviços{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


.cortes{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 95%;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.cards-cortes{
    display: flex;

    justify-content: space-between;
    width: 100%;
}

.servico-checkbox{
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    border-radius: 2rem;
    justify-content: space-around;
    padding: 1.2rem;
    width: 16rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px #b4b4b4;
    transition: 0.3s all;
}

.servico-checkbox:hover, .servico-checkbox:hover, .servico-checkbox:hover{
    opacity: 0.5;
}

.servico-checkbox[data-selected="true"]{
    background-color: #e79f33;
    box-shadow: 0px 0px 20px 5px #e79f33;
}

.section{
    margin: 2rem;
}

.title-corte{
    font-size: 1.5rem;
}


.descricao-corte{
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.title-degrade{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

.img-servico{
    height: 10rem;
}
.barbas{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 95%;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.bigodes{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 95%;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.tratamentos{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 95%;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.barbeiros{
    display: none;
    width: 100%;
}

.tit-mod{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2.4rem;
    font-size: 1.5rem;
}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    width: 100%;
    padding: 1rem;
}

.label{
    font-size: 1.5rem;
    text-align: center;
   
}

#data, #horario{
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.btns{
    display: flex;
    justify-content:space-around;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
}

.title-conf{
    font-size: 1.8rem;
}

.btn-confirmar{
    padding: 1rem;
    width: 12rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: #e79f33;
    cursor: pointer;
    border: solid transparent;
    box-shadow: 0px 0px 20px 5px #e79f33;
    transition: 0.2s all;
}

.btn-confirmar:hover, .btn-cancelar:hover{
    opacity: 0.7;
}

.btn-cancelar{
    padding: 1rem;
    width: 12rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: #E74040;
    cursor: pointer;
    border: solid transparent;
    box-shadow: 0px 0px 20px 5px #E74040;
    transition: 0.2s all;
}

.div-nome{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    /* align-items: center; */
    align-items: center;
    justify-content: space-between;
}

.nome-barbeiro{
    font-size: 1.5rem;
}

.estrelas{
    height: 4rem;
}

.horarios{
    display: none;
}

.confirmacao{
    display: none;
    width: 100%;
    height: 30rem;
}

.div-conf{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.alinhamento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 0.1rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

.img-conf{
    height: 7rem;
}

.divison1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
}

.elementos{
    font-size: 1.5rem;
}

.data-conf{
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
}

.ft-barbeiro{
    width: 5rem;
}

.img-estrela{
    width: 10rem;
}

.card-barb{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid;
    border-radius: 2rem;
    padding: 3rem;
    background-color: #e79f33;
    border: solid 1px #e79f33;
}

.serv-conf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid 1px #e79f33;
    width: 80%;
    padding: 2.3rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: #e79f33;
}

.card-conf{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.conf-info{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.sub-elementos{
    font-size: 1.2rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    height: 20rem;
}

.detail{
    position: relative;
    left: 10.7rem;
    height: 0.8rem;
    width: 5rem;
    background-color: #FF9800;
}

.card-title{
    font-weight: 600;
    color: #111111;
    font-size: 1.4rem;
}

.card-subtitle{
    width: 80%;
    text-align: center;
}

.card-icon{
    height: 8rem;
    width: 8rem;
    margin-top: -2rem;
}

.inferior{
    display: flex;
    justify-content: center;
}

.card-inferior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    border-top: solid 0.3rem #FF9800;
    border-radius: 0.5rem;
    padding: 1.3rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-icon-seta{
    display: flex;
    height: 2rem;
    width: 2rem;
}

.card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.card input[type="date"],
.card input[type="time"],
.card select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.card input[type="submit"] {
    background-color: #FF9800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.card input[type="submit"]:hover {
    background-color: #ffca28;
}


.card button {
    background-color: #FF9800;
    color: #111111;
    font-weight: 600;
    border: none;
    padding: 0.8rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.2s all;
}

.card button:hover {
    background-color: #ffca28;
}

.modal_agendar{
    display: block;
    z-index: 1;
    position: absolute;
    width: 100%; 
    background:radial-gradient(circle, rgba(0,0,0,0.9694327389158788) 0%, rgba(0,0,0,0.82405458765537467) 35%);
}

.modal_servico{
    display: none;
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100%; 
    background:radial-gradient(circle, rgba(0,0,0,0.9694327389158788) 0%, rgba(0,0,0,0.82405458765537467) 35%);
}

/* .content{
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#editar-corte{
    visibility:hidden; 
    z-index: 3;
    position: absolute;
    height: 100vh;
    width: 100%; 
    background:radial-gradient(circle, rgba(0,0,0,0.5694327389158788) 0%, rgba(0,0,0,0.62405458765537467) 35%);
}

#sub-editar-corte{
    margin:130px auto; 
    width: 300px;
}

.centralizador{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    z-index: 7;
}

.alert{
    display: none;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    border-radius: 1rem;
    text-align: center;
    top: 3rem;
    width: 25rem;
    padding: 2rem;
    border: solid 2px transparent;
    background-color: #111111;
}

.confirm{
    display: none;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    border-radius: 1rem;
    text-align: center;
    top: 3rem;
    width: 25rem;
    padding: 2rem;
    border: solid 2px transparent;
    background-color: #111111;
}

#btn-ok{
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px -5px transparent;
    border: solid 1px transparent;
    color: #ffffff;
    width: 40%;
    background-color: transparent;
    transition: 0.3s all;   
}

#btn-ok:hover{
    opacity: 0.5;
}

.btn-options{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#btn-conf{
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px -5px transparent;
    border: solid 1px transparent;
    color: #ffffff;
    width: 40%;
    background-color: transparent;
    transition: 0.3s all;   
    font-weight: 600;
}

#btn-conf:hover{
    opacity: 0.5;
}

#btn-canc{
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px -5px transparent;
    border: solid 1px transparent;
    color: #ffffff;
    width: 40%; 
    background-color: transparent;
    transition: 0.3s all;   
}

#btn-canc:hover{
    opacity: 0.5;
}

#servicos_agendados{
    margin: 130px auto;
    width: 300px;
    overflow-y: scroll;
    height: 32rem;
    max-height: 100%;
}

#card_service{
    display: flex;
    flex-direction: column;

}

#content_service{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;
    border: 2px solid #111111;
    padding: 1rem;
    border-radius: 1rem;
}

#text_service{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#text_service > p{
    margin: 0.6rem;
}

#seta{
    cursor: pointer;
}
.alert{
    display: none;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    border-radius: 1rem;
    text-align: center;
    top: 3rem;
    width: 25rem;
    padding: 2rem;
    border: solid 2px transparent;
    background-color: #111111;
}
