body {
    background-color: #f8f9fa;
    /* Fundo cinza claro */
}

.card {
    border: none;
}

.card-header {
    background-color: #ffc107;
}

.card-body {
    background-color: #ffffff;
}

label {
    color: #000000;
}

input.form-control {
    border-color: #ffc107;
}

button.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
}

button.btn-primary:hover {
    background-color: #ffca28;
    border-color: #ffca28;
}