/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111111;
}

.navbar{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(8, 8, 8) 50%);
    border-color: solid none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.sidebar{
    padding: 10px;
    width: 8rem;
    display: flex;
    margin-top: 8rem;
    height: 20rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    border: solid 0.15rem #585858;
    justify-content: space-evenly;
    position: relative;
    padding-left: 1.5rem;
    right: 1rem;
}

.config{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.config > a { 
    display: flex;
}

.config > a >img{
    display: flex;
    height: 3rem;
}

.link-config{
    color: #fff;
    text-decoration: none;
}

.config:hover, .sair:hover{
    opacity: 0.5;
}

.sair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.sair > a{
    display: flex;
}

.sair > a > img{
    display: flex;
    height: 3rem;
    width: 3rem;
}

.link-sair{
    color: #E74040;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}
.apresentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    height: 4rem;
    margin-top: 2rem;
}

.apres-title{
    font-weight: 600;
    font-size: 2rem;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    padding: 2rem;
    width: 100%;
}

.superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.superior2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.inferior{
    display: flex;
    padding: 10px;
    justify-content: center;
}


.services .card {
    padding: 10px;
    margin: 0 10px;
}

.card {
    display: flex;
    flex-direction: column;
    border-top: solid 0.3rem #FF9800;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.relatorio{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    width: 20%;
    height: 44rem;
}

.card-relat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: solid 0.3rem #FFC672;
    border-radius: 0.5rem;
    height: 100%;
    padding: 1.5rem;
    background-color: #181818;
    box-shadow:  0px 0px 50px 2px #000000;
}

.card-title-relat{
    font-weight: 600;
    color: #FFC672;
    font-size: 1.2rem;
}

.card-subtitle-relat{
    color: #FFC672;
    font-weight: 300;
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
}

.img-dashboard{
    height: 8rem;
}

.view-relat{
    width: 75%;
    display: flex;
    flex-direction: column;
    border: solid 1px #FFC672;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #FFC672;
    align-items: center;
    height: 12rem;
}

#btn-relat{
    background-color: #FFC672;
    color: #111111;
    font-weight: 600;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-relat:hover{
    opacity: 0.5;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    height: 20rem;
}

.detail{
    position: relative;
    left: 10.7rem;
    height: 0.8rem;
    width: 5rem;
    background-color: #FF9800;
}

.card-title{
    font-weight: 600;
    color: #111111;
    font-size: 1.4rem;
}

.card-subtitle{
    width: 80%;
    text-align: center;
}

.card-icon{
    height: 8rem;
    width: 8rem;
    margin-top: -2rem;
}

.inferior{
    display: flex;
    justify-content: center;
}

.card-inferior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    border-top: solid 0.3rem #FF9800;
    border-radius: 0.5rem;
    padding: 1.3rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-icon-seta{
    display: flex;
    height: 2rem;
    width: 2rem;
}

.card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    margin-bottom: 10px;
    font-weight: bold;
}

.card input[type="text"],
.card input[type="number"],
.card select,
.card input[type="time"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.card input[type="submit"]:hover {
    background-color: #555;
}


.card button {
    background-color: #FF9800;
    color: #111111;
    font-weight: 600;
    border: none;
    padding: 0.8rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.2s all;
}

.card button:hover {
    background-color: #ffca28;
}

/* Modal de confirmação */
.modal_CriarFuncionario {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_EditarFuncionario {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_servicos {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_visualizar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_Relatorio {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card_Relatorio{
    display: flex;
    flex-direction: column;
    border-top: solid 0.3rem #FFC672;
    color: #FFC672;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #181818;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 55%;
    height: 35rem;
}

.btn-fechar{
    color: #181818;
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFC672;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.btn-fechar:hover{
    background-color: #ffc7729a;
}

.title-relat{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 1.4rem;
}

.subtitle-relat{
    font-size: 1.3rem;
    font-weight: 300;
}

.avaliacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}

.esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;  
}

.esquerdo > p{
    font-size: 1.3rem;
}

.direito{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin-top: 2rem;
}

.direito > p{
    font-size: 1.3rem;
}

.modal-content-relat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
    border: solid 0.2rem #FFC672;
    margin-top: 1rem;
    width: 80%;
    border-radius: 2rem;
}

#diario, #mensal, #anual{
    height: 3rem;
    width: 12rem;
    background-color: #FFC672;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.relat-content{
    display: none;
    flex-direction: column;
    width: 80%;
    padding: 0.2rem;
    border: solid 0.2rem #FFC672;
    border-radius: 2rem;
    height: 28rem;
    margin-top: 1rem;
}

.navegacao2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#input_diario, #input_mensal, #input_anual{
    display: none;
}

#pesquisar{
    display: none;
    background-color: #585858;
    color: #f9f9f9;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    width: 8rem;
    justify-items: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: 0.15 ease-in-out;
}

#pesquisar:hover{
    background-color: #5858589a;
}

input[type="month"] {
    background-color: #111111;
    color: #FFC672;
    border: 1px solid #FFC672;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    font-size: 1.2rem;
  }

  input[type="month"]::placeholder {
    color: #FFC672;
    opacity: 0.7;
  }

  input[type="month"]:focus {
    outline: none;
    border-color: #FFC672;
    box-shadow: 0 0 5px #FFC672;
  }

  input[type="month"]::-webkit-calendar-picker-indicator {
    color: #FFC672;
    background-color: #111111;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }

  input[type="month"]::before {
    content: '▼';
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    color: #FFC672;
    pointer-events: none;
  }

  input[type="date"] {
    background-color: #111111;
    color: #FFC672;
    border: 1px solid #FFC672;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    font-size: 1.2rem;
  }

  input[type="date"]::placeholder {
    color: #FFC672;
    opacity: 0.7;
  }

  input[type="date"]:focus {
    outline: none;
    border-color: #FFC672;
    box-shadow: 0 0 5px #FFC672;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: #FFC672;
    background-color: #111111;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }

  input[type="date"]::before {
    content: '▼';
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    color: #FFC672;
    pointer-events: none;
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.modal-content h4 {
    margin-top: 0;
}

.modal-content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-content button:hover {
    background-color: #555;
}

.centralizador{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    z-index: 7;
}

.alert{
    display: none;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    border-radius: 1rem;
    text-align: center;
    top: 3rem;
    width: 25rem;
    padding: 2rem;
    border: solid 2px transparent;
    background-color: #111111;
}

#btn-ok{
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px -5px transparent;
    border: solid 1px transparent;
    color: #ffffff;
    width: 40%;
    background-color: transparent;
    transition: 0.3s all;   
}

#btn-ok:hover{
    opacity: 0.5;
}
